[Unit]
Description=fasttrack
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/fasttrack
ExecStart=/opt/fasttrack/jre/bin/java -jar tracker-server.jar conf/fasttrack.xml
SyslogIdentifier=fasttrack
SuccessExitStatus=143
WatchdogSec=600
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
